<div class="title_bar">
  <%= image_tag plugin_image_path("eight_sleep--render.svg"), class: "image", alt: "Eight Sleep plugin icon" %>
  <h1 class="title">Eight Sleep</h1>
  <span class="instance"><%= instance_name %></span>
</div>
