<% heading_size ||= 'small' %>

<div class="item">
  <div class="meta">
    <span class="index">#</span>
  </div>
  <div class="content">
    <span class="title title--<%= heading_size %>"><%= event[:summary] %></span>
    <% if include_description %>
      <span class="description"><%= event[:description] %></span>
    <% end %>
  </div>
</div>
