<div class="title_bar">
  <img class="image" src="<%= Rails.application.credentials.base_url %>/images/plugins/<%= plugin_name %>--render.svg" />
  <span class="title">Upcoming Events</span>
  <span class="instance"><%= instance_name %></span>
</div>