<style>
  .days-graph {
    height: 90px;
    overflow: hidden;
    width: auto;
    margin: 0 auto;
  }

  .days-graph .day {
    width: 8px;
    height: 90px;
    float: left;
    border-radius: 4px;
    margin-left: 2px;
  }

  .view--quadrant .days-graph {
    height: 90px;
  }

  .view--quadrant .days-graph .day {
    width: 5px;
    height: 90px;
    margin: 0 0 2px 0px;
  }

  .view--half_vertical .days-graph {
    height: 90px;
  }

  .view--half_vertical .days-graph .day {
    width: 5px;
    height: 90px;
    margin: 0 0 2px 0px;
  }

  .view--half_horizontal .days-graph {
    width: 583px;
    min-width: 583px;
  }

  .view--half_horizontal .days-graph .day {
    width: 9px;
    height: 90px;
  }
</style>


<% max_days ||= 74 %>

<div class="days-graph">
  <% max_days.times do |idx| %>
    <% if ((idx.to_f / max_days) * 100) <= percent_passed %>
      <div class="day passed bg--gray-3"></div>
    <% elsif ((idx.to_f / max_days) * 100) >= percent_passed && (((idx-1).to_f / max_days) * 100) <= percent_passed %>
      <div class="day bg-black"></div>
    <% else %>
      <div class="day bg--gray-5"></div>
    <% end %>
  <% end %>
</div>
