<div class="title_bar">
  <img class="image" src="<%= Rails.application.credentials.base_url %>/images/plugins/lunch_money.svg" />
  <h1 class="title">Lunch Money</h1>
  <span class="instance"><%= instance_name %></span>
</div>
