<div class="grid grid--cols-1">
  <div class="grid grid--cols-2">
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--xsmall"><%= ticker[:symbol].gsub(' ', '&nbsp;').html_safe %></span>
        <span class="label"><%= ticker[:name] %></span>
      </div>
    </div>
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--xsmall value--tnums"><%= ticker[:change] %></span>
        <span class="label">Daily Change</span>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="meta"></div>
    <div class="content">
      <span class="value value--large value--tnums"><%= number_to_currency(ticker[:price], unit: currency_symbol, separator: currency_separator) %></span>
    </div>
  </div>
</div>
