<div class="title_bar">
  <img class="image" src="<%= plugin_asset_url %>/images/plugins/withings--render.png" />
  <span class="title">Withings</span>
  <span class="instance"><%= instance_name %></span>
</div>
