<div class="view view--half_horizontal">
  <div class="layout gap--space-between">
    <div class="columns">
      <div class="column">
        <div class="item">
          <div class="meta"></div>
          <div class="content">
            <span class="value"><%= price[:formatted] %></span>
            <span class="label">Gold Price (<%= price[:currency] %>/oz)</span>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="item">
          <div class="meta"></div>
          <div class="content">
            <span class="title title--small">Performance</span>
            <div class="flex gap--xsmall">
              <span class="label label--small label--underline">7d: <%= performance_7d[:formatted_percentage] %></span>
              <span class="label label--small label--underline">90d: <%= performance_90d[:formatted_percentage] %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="title_bar">
    <img class="image" src="https://usetrmnl.com/images/plugins/simple-analytics--render.svg" />
    <span class="title">Gold Price</span>
    <span class="instance">Live Tracker</span>
  </div>
</div>