<div class="layout layout--col flex--center">
  <div class="item">
    <div class="meta">
      <span class="index">⚠</span>
    </div>
    <div class="content">
      <span class="<%= title_class %>" data-pixel-perfect="true"><%= title_text %></span>
      <span class="description clamp--none" data-pixel-perfect="true"><%= description_text %></span>
    </div>
  </div>
</div>