<div class="title_bar">
  <img class="image h--6 image-stroke" src="<%= plugin_asset_url %>/images/plugins/notion--render.svg" />
  <span class="title" data-pixel-perfect="true"><%= instance_name %></span>
</div>