<div class="title_bar">
  <img class="image" src="<%= "#{Rails.application.credentials.base_url}/images/plugins/" %>parcel--render.png"/>
  <h1 class="title">Parcel</h1>
  <span class="instance"><%= instance_name %></span>
</div>