<div class="view view--half_horizontal">
  <div class="layout">
    <div class="richtext richtext--left">
      <div class="content content--left gap" data-content-limiter="true"><%= simple_format(answer) %></div>
    </div>
  </div>

  <%= render 'plugins/chatgpt/shared/title_bar', instance_name: instance_name %>
</div>
