<div class="title_bar">
  <%= image_tag plugin_image_path("chatgpt--render.svg"), class: "image image-stroke image-stroke--black image-stroke--small", alt: "ChatGPT plugin icon" %>
  <span class="title">ChatGPT</span>
  <span class="instance"><%= instance_name %></span>
</div>
