<div class="view view--quadrant">
  <div class="layout layout--col layout--top">
    <%= render 'plugins/parcel/shared/deliveries', max_height: 190, max_columns: 2, deliveries:, error:, style: %>
  </div>

  <%= render "plugins/parcel/shared/title_bar", instance_name: instance_name %>
</div>